table{ 
      background:#00FFFF; 
      border:1px solid #e7e7e7; 
      margin:80px; 
      padding:5px ;
    } 
 td{ 

   background:cyan;   
    } 

input[type="text"]{
      box-sizing:border-box ;
  }
  .button{
  background-color:  lightgreen;
  color : white;


  }